.tag-cloud
  &-list
    margin: 2rem auto
    padding: 2rem
    max-width: 900px

    .tag-cloud-wrap
      display: flex
      flex-wrap: wrap
      gap: 10px
      justify-content: center
      align-items: center

    a
      display: inline-block
      margin: 0
      padding: 6px 14px
      line-height: 1.7
      transition: all .3s
      addBorderRadius(20)
      background: var(--card-bg)
      border: 1px solid var(--tab-border-color)

      &:hover
        background: var(--btn-bg) !important
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .2)
        color: var(--btn-color) !important
        transform: translateY(-2px)

      +maxWidth768()
        zoom: .85

  &-title
    font-size: 2.57em

    +maxWidth768()
      font-size: 2em

.page-title
  & + .tag-cloud-list
    text-align: left
